<h1>Users Signup</h1>

<%= form_for(@user, url: signup_path) do |form| %>
    
    <%= form.label :username %>
    <%= form.text_field :username, class: 'form-control' %>

    <%= form.label :email %>
    <%= form.text_field :email, class: 'form-control' %>

    <%= form.submit "Signup", class: "btn btn-primary" %>                
<% end %>

<div class="text-center">
    <p class="mt-20">Already have one? <%= link_to 'Login now!', login_path%> </p>
</div>
