
<div class="jumbotron">
    <h2> Welcome to Happening </h2>
    <p> This is where you create your own events and invite only specified people to attend </p>
    <% if logged_in? %>
        <%= link_to "Add Event", new_event_url, class: 'btn btn-primary' %>

    <% else %>
        <%= link_to "Sign In Now To Get Started", login_path, class: 'btn btn-primary' %>   
    <% end %>
</div>

<% if logged_in? %>
    <h4> Events </h4>
    <hr>

<% if @events.any? %>
<div class="container">
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#upcoming">Upcoming Events (<%= @upcoming.count %>) </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#past">Past Events (<%= @past.count %>) </a>
        </li>
    </ul>


    <div class="tab-content">
        <div class="tab-pane container active" id="upcoming">
            <% if @upcoming.empty? %>
                <p> No upcoming events available </p>
            <% end %>
                <%= render 'shared/list', events: @upcoming %>
           
            
        </div>
        <div class="tab-pane container fade" id="past">
            <%= render 'shared/list', events: @past%> 

        </div>
    </div>
</div>     
<% end %>

<% else %>  
    <p> <i> Sign in to view events </i></p>
<% end %>