
<div class="jumbotron">
    <h2> Welcome to you Private Events </h2>
    <p> This is where you create your own events and invite only specified people to attend </p>
    <% if logged_in? %>
        <%= link_to "Add Event", new_event_url, class: 'btn btn-primary' %>

    <% else %>
        <%= link_to "Sign In Now To Get Started", login_path, class: 'btn btn-primary' %>   
    <% end %>
</div>

<% if logged_in? %>
    <h4> Events </h4>
    <% @events.each do |event| %>
        <h5> <%= event.title %> </h5>
        <p> <%= event.description %></p>
        <p>  <%= event.date %> </p><hr>
    <% end %>

 <% else %>  
    <p> <i> Sign in to vew events </i></p>
<% end %>